<!DOCTYPE html>
<html>
  <head>
    <title>I :heart: Code</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="minimum-scale=1,initial-scale=1,width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  </head>
  <body>
    <div id="app"></div>
    <script src="https://unpkg.com/react/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone/babel.min.js"></script>
    <script type="text/babel">
    
      const theme = MaterialUI.createMuiTheme({
        typography: {
          fontFamily: "Roboto",
        },
        palette: {
          primary: { main: "#6816d9" },
          secondary: { main: "#f55501" },
        },
      })

      const { ThemeProvider, CssBaseline, Container, Typography, AppBar, Icon, Button, Toolbar, Drawer, Grid, Box, TextField, CircularProgress } = MaterialUI

      const App = () => {

        const [drawer, setDrawer] = React.useState(false)
        const [token, setToken] = React.useState("")

        const [loading, setLoading] = React.useState(false)
        const [projects, setProjects] = React.useState()
        const fetchProjects = () => {
          setProjects(null)
          setLoading(true)
          return fetch(
            "https://gitlab.com/api/v4/projects?owned=true&per_page=100", {
            headers: {
              authorization: "Bearer " + token,
            },
          })
          .then(response => response.ok
            ? response.json()
            : Promise.reject(response)
          )
          .then(projects =>
            setProjects(projects)
          )
          .catch(e =>
            setProjects(null)
          )
          .finally(() =>
            setLoading(false)
          )
        }

        return <React.Fragment>
          <AppBar position="static">
            <Toolbar>
              <Icon onClick={e => setDrawer(true)}>menu</Icon>
            </Toolbar>
          </AppBar>
          <Drawer open={drawer}>
            <Box mx={2}>
              <Icon onClick={e => setDrawer(false)}>close</Icon>
              <Typography variant="h4">Settings</Typography>
              <form onSubmit={e => { e.preventDefault(); setDrawer(false) }}>
                <TextField
                  label="Token" fullWidth value={token}
                  onChange={e => setToken(e.target.value)}
                />
                <input type="submit" style={{display:"none"}} />
              </form>
            </Box>
          </Drawer>
          <Container component="main">
            <Typography variant="h1">
              I <Icon fontSize="inherit" color="secondary">favorite</Icon> Code
            </Typography>
            <Grid container justify="center">
              <Grid item xs={6}>
                <Box p={10}>
                  <Button
                    size="large" color="primary" variant="outlined"
                    onClick={e => fetchProjects()} disabled={loading}
                  >
                    Fetch Projects
                  </Button>
                </Box>
              </Grid>
              <Grid item xs={8}>
                {loading &&
                  <CircularProgress size={100} />
                }
                {projects &&
                  <Typography variant="h2">
                    Found
                    <Typography variant="inherit" color="primary"> {projects.length} </Typography>
                    projects!
                  </Typography>
                }
              </Grid>
            </Grid>
          </Container>
        </React.Fragment>
      }

      ReactDOM.render(
        <ThemeProvider theme={theme}>
          <CssBaseline />
          <App />
        </ThemeProvider>,
        document.getElementById("app")
      )

    </script>